.btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px 7px 10px;

  transition: color 0.3s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    color: darken($color: white, $amount: 10);
  }
}

.btn-primary {
  background-color: $primary;
  border-radius: 8px;
  width: 10rem;
  height:2rem;
 margin-top: 5rem;

  &:disabled {
    background-color: lighten($color: $primary, $amount: 15);
  }

  &:hover {
    background-color: darken($color: $primary, $amount: 15);
  }
}

.btn-danger {
  background-color: red;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($color: red, $amount: 10);
  }
}

.btn-block {
  width: 100%;
}

.btn-modal {

  
  background-color: $primary;
  border-radius: 8px;
  width: 10rem;
  height:2rem;
 margin-top: 5rem;
 display: none;
 color: white;
 border: none;
 font-weight: bold;

  &:disabled {
    background-color: lighten($color: $primary, $amount: 15);
  }

  &:hover {
    background-color: darken($color: $primary, $amount: 15);
  }

  

    
  }

  
  @media screen and (max-width:768px) {
    .btn-modal {

      display:block;

    }
    
  }


